<!doctype html>
<html>
	<head>
		<title>Contact Us</title>
		<meta charset="utf-8"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/shared.css"/>
		<link rel="stylesheet" href="css/contact.css"/>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="js/contact.js"></script>
	</head>
	<body>
		<nav>
			<a href="."><img class="logo-main" src="images/logo.png" alt="ayo who cant load images lol"/></a>

			<div class="links">
				<a class="nav-link" href="documentation.html">DOCUMENTATION</a>
				<a class="nav-link" href="lectures.html">LECTURES</a>
				<a class="nav-link" href="faq.html">FAQS</a>
				<a class="nav-link" href="contact.html">CONTACT</a>
				<a class="nav-link" href="logout">LOG OUT</a>
			</div>
		</nav>
		<article class="content">
            <div>
                <h3>Contact Us</h2>
                <p>Email or call us at 517-226-9123 with any questions or inquiries you may have. We would be more than happy to assist you!</p>
                <hr>
                <label for="name"> Your name: </label>
                <input class="small-textbox" type="text" name="name"></input>

                <label for="message"> Your Message: </label>
                <textarea class="big-textbox" name="message"></textarea>

                <button type="button">Send</button>
            </div>
            <div class="grid-item-right">
                <img src="images/contact.jpg" alt="simply put, get a better computer" class="image">
                <span class="img-text">Get In Touch With Us!</span>
            </div>

		</article>
		<footer>
		</footer>
	</body>
</html>