<!doctype html>
<html>
	<head>
		<title>Wanand World Lecture Series</title>
		<meta charset="utf-8"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/shared.css"/>
		<link rel="stylesheet" href="css/faq.css"/>
		<link rel="stylesheet" href="css/animations.css"/>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="js/faq.js"></script>
	</head>
	<body>
		<nav>
			<a href="."><img class="logo-main" src="images/logo.png" alt="ayo who cant load images lol"/></a>

			<div class="links">
				<a class="nav-link" href="documentation.html">DOCUMENTATION</a>
				<a class="nav-link" href="lectures.html">LECTURES</a>
				<a class="nav-link" href="faq.html">FAQS</a>
				<a class="nav-link" href="contact.html">CONTACT</a>
				<a class="nav-link" href="logout">LOG OUT</a>
			</div>
		</nav>
		<article>
			<header>
				<div class="article-header-text">
					<h3 class="title fade-in">FREQUENTLY ASKED QUESTIONS</h3>
                    <p class="subtitle fade-in">These are the most asked questions about the Wanand Lecture Series</p>
                    <hr class="grow-in"/>
				</div>
			</header>
			<div class="content">
				<div class="bullet-cell slide-from-left">
					<img class="bullet-point" src="images/faq.svg" alt="question"/>
				</div>
				<div class="faq slide-from-right">
					<h4 class="question">How much do the lectures cost? </h4>
					<p class="answer">This event is completely free! We ensure all students equal access to learning opportunities like the Wanand Lecture Series. </p>
				</div>
				<div class="bullet-cell slide-from-left">
					<img class="bullet-point" src="images/faq.svg" alt="question"/>
				</div>
				<div class="faq slide-from-right">
					<h4 class="question">How many lectures are available?  </h4>
					<p class="answer">Each season we provide a total of 10 lectures over two subject areas. Each lecture is about two hours long. </p>
				</div>
				<div class="bullet-cell slide-from-left">
					<img class="bullet-point" src="images/faq.svg" alt="question"/>
				</div>
				<div class="faq slide-from-right">
					<h4 class="question">How many lectures can I attend? </h4>
					<p class="answer">Since our event is free, you may attend as many lectures as you would like. </p>
				</div>
				<div class="bullet-cell slide-from-left">
					<img class="bullet-point" src="images/faq.svg" alt="question"/>
				</div>
				<div class="faq slide-from-right">
					<h4 class="question">Can I watch previous year’s lectures? </h4>
					<p class="answer">No, you cannot watch previous year’s lectures. Our event duration is 30 days, once time is up we will close the lectures page. However, you can still view which lectures you attended in your profile page. </p>
				</div>
				<div class="bullet-cell slide-from-left">
					<img class="bullet-point" src="images/faq.svg" alt="question"/>
				</div>
				<div class="faq slide-from-right">
					<h4 class="question">What do I do if I couldn’t finish all the lectures? </h4>
					<p class="answer">We are sorry to say that once the lectures close you will not be able to access the recordings. We recommend choosing one or two lectures you are most interested in. </p>
				</div>
			</div>			
		</article>
		<footer>
			<div id="footer-left">
				<h3 class="footer-text">NEED MORE ANSWERS?</h3>
			</div>
			<div id="footer-right">
				<p class="footer-text">Please use the contact page to message us your questions or call us</p>
			</div>
		</footer>
	</body>
</html>
