<!doctype html>
<html>
	<head>
		<title>Wanand World Lecture Series</title>
		<meta charset="utf-8"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/shared.css"/>
		<link rel="stylesheet" href="css/lectures.css"/>
		<link rel="stylesheet" href="css/animations.css"/>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="js/lectures.js"></script>
	</head>
	<body>
		<nav>
			<a href="."><img class="logo-main" src="images/logo.png" alt="ayo who cant load images lol"/></a>

			<div class="links">
				<a class="nav-link" href="documentation.html">DOCUMENTATION</a>
				<a class="nav-link" href="lectures.html">LECTURES</a>
				<a class="nav-link" href="faq.html">FAQS</a>
				<a class="nav-link" href="contact.html">CONTACT</a>
				<a class="nav-link" href="logout">LOG OUT</a>
			</div>
		</nav>
		<article>
			<header>
				<div class="article-header-text">
					<h3 class="title fade-in">OUR LECTURES</h3>
                    <p class="subtitle fade-in">Browse through the topics we offer.</p>
					<hr class="grow-in"/>
				</div>
			</header>
			<div class="subject fade-in">
				<p>Subject <span id="subject-num">1</span> of 2</p>
				<div class="large-button" id="science-button">Science</div>
				<div class="large-button" id="tech-button">Technology</div>
			</div>
			<div class="content">
				
			</div>
		</article>
		<footer>
		</footer>
	</body>
</html>