.image-full {
  height: 510px;
}

.article-header-text {
  height: 450px;
}

.title {
  text-align: center;
  line-height: 450px;
}

.subtitle {
  padding-top: 60px;
  padding-bottom: 40px;
}

.content {
  background-color: white;
  padding: 60px 150px 120px 150px;
}

.photo-perms {
  text-align: center;
}

.link {
  font-size: 15pt;
}
