.image-full {
  height: 510px;
}

.article-header-text {
  height: 450px;
}

.title {
  text-align: center;
  line-height: 450px;
}

.content {
  background-color: white;
  padding: 60px 130px;
}

.photo-perms {
  text-align: center;
}
