header {
  padding-top: 135px;
}

.article-header-text {
  color: black;
  text-align: center;
}

.title {
  font-size: 38pt;
}

.subtitle {
  color: black;
  margin-top: 5px;
  font-weight: 400;
  margin-bottom: 50px;
}

hr {
  border-top-width: 3px;
  width: 85%;
}

.content {
  color: black;
  width: 100%;
  padding: 100px 0;
  display: grid;
  grid-template-columns: 26% 71.5%;
  column-gap: 2.5%;
  row-gap: 25px;
}

.faq {
  padding-right: 38%;
}

.question {
  font-size: 25pt;
  margin-bottom: 0;
}
.answer {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15pt;
}

.bullet-cell {
  position: relative;
  grid-column: 1;
}

.bullet-point {
  position: absolute;
  width: 48px;
  right: 0;
}
