.title {
  padding: 170px 0 110px 110px;
}

.overlay-boxes {
  display: flex;
  width: auto;
  justify-content: center;
}

.overlay-box-small {
  display: inline-block;
  width: 430px;
  padding: 60px 0;
  text-align: center;
}

.article-about {
  display: grid;
  grid-template-columns: 55% 5% 40%;
  background-color: white;
}

.about-left {
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-right {
  grid-column: 2 / 4;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}
.about-title {
  padding: 35px 0;
  text-align: center;
}

.box {
  padding: 70px 100px;
  padding-right: 130px;
}
.box-light {
  background-color: #5f5d63;
}
.box-dark {
  background-color: #323135;
}
.about-right > .box {
  padding: 60px 100px;
}

#review-header {
  padding-right: 25px;
}

hr {
  border-top: 5px solid black;
  width: 70%;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.small-button {
  display: flex;
  background-color: #323135;
  color: white;
  height: 50px;
  width: 175px;
  padding: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  font-size: 15.5pt;
  font-weight: 700;
  border-radius: 8px;
  margin-top: 30px;
}
#login-button {
  margin-bottom: 40px;
}

.article-reviews {
  display: grid;
  grid-template-columns: 46% 49%;
  gap: 5%;
  height: 820px;
  width: 100%;
  background-color: white;
}

.reviews-right {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews-left {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#reviews-left-image {
  height: 600px;
  width: 100%;
  object-fit: cover;
  filter: brightness(78%);
}

#reviews-right-image {
  height: 500px;
  width: 100%;
  object-fit: cover;
  filter: brightness(78%);
}

.review {
  text-align: center;
}
.review-block {
  padding: 0 15px;
}

#header-about {
  margin-top: -100px;
  height: 220px;
}

#about-reviews {
  height: 100px;
}

#about-footer {
  height: 250px;
}
