<!doctype html>
<html>
	<head>
		<title>Wanand World Lecture Series</title>
		<meta charset="utf-8"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/shared.css"/>
		<link rel="stylesheet" href="css/documentation.css"/>
		<link rel="stylesheet" href="css/animations.css"/>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="js/documentation.js"></script>
	</head>
	<body>
		<nav>
			<a href="."><img class="logo-main" src="images/logo.png" alt="ayo who cant load images lol"/></a>

			<div class="links">
				<a class="nav-link" href="documentation.html">DOCUMENTATION</a>
				<a class="nav-link" href="faq.html">FAQS</a>
				<a class="nav-link" href="contact.html">CONTACT</a>
				<a class="nav-link" href="login.html">LOG IN</a>
			</div>
		</nav>
		<article>
			<header>
				<img class="image-full" src="images/documentation.jpg" alt="this is a desk view internet explorer lookin headass"/>
				<div class="article-header-text">
					<h3 class="title fade-in"> DOCUMENTATION</h1>
				</div>
			</header>
			<div class="content">
				<div class="photo-perms fade-in">
					<h5>
						All graphics are free from Pexels (https://www.pexels.com/). Therefore no permission letters were required for copyright material.
					</h5>
				</div>
				<div class="copywrite slide-from-left">
					<h2 class="subtitle">
						Copywrite
					</h2>
					<a class="link" href="docs/copywrite.pdf" target="_blank">
						Click here for copywrite information
					</a>
				</div>
				<div class="worklog slide-from-left">
					<h2 class="subtitle">
						Work Logs
					</h2>
					<a class="link" href="docs/work_log.pdf" target="_blank">
						Click here for work logs
					</a>
				</div>
				<div class="resources slide-from-left">
					<h2 class="subtitle">
						Resources Used
					</h2>
					<a class="link" href="docs/sources.pdf" target="_blank">
						Click here for resources used
					</a>
				</div>
			</div>
		</article>
		<footer></footer>
	</body>
</html>