*{
    box-sizing: border-box;
}
  
a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Oswald", sans-serif;
    margin: 0;
}

nav {
    display: flex;
    margin: 0;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}


.logo-main {
    height: 43px;
    margin-left: 125px;
    padding-top: 5px;
}

.links {
    margin-right: 80px;
}

.nav-link {
    padding: 0 40px 0 40px;
}

.image-full {
    position: absolute;
    top: 0;
    width: 100%;
    height: 620px;
    object-fit: cover;
    filter: brightness(78%);
}


h1 {
    margin: 0;
    font-size: 58pt;
    padding: 170px 0 110px 110px;
    white-space: nowrap;
    overflow: hidden;
}

h2 {
    text-align: left;
    font-size: 28pt;
    margin: 0;
    color: black;
}

.grid-container { 
    display: grid;
    grid-template-columns: 3fr 4fr;
    padding-left: 115px;
    padding-top: 100px;
}
.grid-item-right {
    position: relative;
}

label {
    display: block;
    margin-bottom: 9px;
    margin-top: 9px;
}

hr {
    margin-top: 40px;
    margin-bottom: 35px;
    height: 4px;
    background-color: black;
}

.small-textbox{
    width: 85%;
    height: 5%;
    border-radius: 5px;
    border: 1px solid;
    font-family: "Oswald", sans-serif;
}
.big-textbox{
    width: 85%;
    height: 35%;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid;
    font-family: "Oswald", sans-serif;
    vertical-align: top;
}

button {
    color: white;
    background: black;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-family: "Oswald", sans-serif;
    font-size: x-small;
}

.abed-img {
    float: right;
}

.img-text {
    position: absolute;
    top: 64px;
    left: 65px;
    background-color: #5f5d63;
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    height: 100px;
    width: 500px;
    padding: 20px 0;
}



  
  