* {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  margin: 0;
}

nav {
  display: flex;
  height: 65px;
  align-items: center;
  justify-content: space-between;
}

.logo-main {
  height: 38px;
  margin-left: 125px;
  margin-top: ;
}

.links {
  margin-right: 80px;
}

.nav-link {
  padding: 40px;
}

.article-header::before {
  background-image: url(images/lecture.png);
}

.image-full {
  width: 100%;
  filter: brightness(78%);
}

#lecture-image {
  grid-row: 1;
  grid-column: 1;
}

.overlay-header {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  color: white;
}

h1 {
  font-size: 50pt;
}
