* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Oswald", sans-serif;
  margin: 0;
}

nav {
  display: flex;
  margin: 0;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.logo-main {
  height: 43px;
  margin-left: 125px;
  padding-top: 5px;
}

.links {
  margin-right: 80px;
}

.nav-link {
  padding: 0 40px 0 40px;
}

.article-header {
  position: relative;
}

.image-full {
  position: absolute;
  top: 0;
  width: 100%;
  height: 620px;
  object-fit: cover;
  filter: brightness(78%);
}

.article-header-text {
  position: relative;
  z-index: 1;
  color: white;
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 58pt;
  padding: 170px 0 110px 110px;
  white-space: nowrap;
  overflow: hidden;
}

.overlay-boxes {
  display: flex;
  width: auto;
  justify-content: center;
}

.overlay-box-small {
  background-color: grey;
  display: inline-block;
  width: 430px;
  padding: 60px 0;
  text-align: center;
}

.overlay-box-dark {
  background-color: #323135f0;
}

.overlay-box-light {
  background-color: #5f5d63f0;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 35pt;
}

p {
  margin: 3px 0;
  font-size: 14pt;
  font-weight: bold;
}

.article-about {
  margin-top: 120px;
  position: relative;
  height: 520px;
}

.about-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
}

.about-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 45%;
  height: 100%;
}

.box {
  padding: 1px 100px;
}
.box-light {
  background-color: #5f5d63;
}
.box-dark {
  background-color: #323135;
}

h2 {
  text-align: center;
  font-size: 28pt;
}

h6 {
  color: white;
  font-size: 22pt;
  font-weight: 100;
  line-height: 30pt;
}

#review-header {
  padding-right: 25px;
}

hr {
  border-top: 5px solid black;
  width: 70%;
}
